.no-user-select {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.border-box {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
@font-face {
  font-family: 'Georgia';
  src: url('../fonts/944555.eot');
  src: local('☺'), url('../fonts/944555.woff') format('woff'), url('../fonts/944555.ttf') format('truetype'), url('../fonts/944555.svg') format('svg');
  font-weight: normal;
}
@font-face {
  font-family: 'Georgia';
  src: url('../fonts/344573.eot');
  src: local('☺'), url('../fonts/344573.woff') format('woff'), url('../fonts/344573.ttf') format('truetype'), url('../fonts/344573.svg') format('svg');
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: 'MyriadProBoldCond';
  src: url('../fonts/MyriadPro-BoldCond.eot');
  src: local('☺'), url('../fonts/MyriadPro-BoldCond.woff') format('woff'), url('../fonts/MyriadPro-BoldCond.ttf') format('truetype'), url('../fonts/MyriadPro-BoldCond.svg') format('svg');
  font-weight: normal;
}
@font-face {
  font-family: 'MyriadProCond';
  src: url('../fonts/MyriadPro-Cond.eot');
  src: local('☺'), url('../fonts/MyriadPro-Cond.woff') format('woff'), url('../fonts/MyriadPro-Cond.ttf') format('truetype'), url('../fonts/MyriadPro-Cond.svg') format('svg');
  font-weight: normal;
}
body {
  color: #fff;
  min-width: 1440px;
  font-family: 'Georgia';
  overflow: hidden;
}
.pluso {
  vertical-align: top;
  margin-bottom: -10px;
}
.pluso .pluso-wrap a {
  margin-left: 6px !important;
  margin-right: 6px !important;
  background-image: url("../img/pluso-buttons.png") !important;
}
.pluso .pluso-wrap a.pluso-more {
  display: none !important;
}
#preloader-content .pre-main {
  text-align: center;
  font-family: 'MyriadProBoldCond', sans-serif;
  font-size: 172px;
  font-weight: 500;
  text-transform: uppercase;
  color: #fff;
  background-color: #0b436c;
  padding: 20px 0 25px;
}
#preloader-content .pre-main-wrap {
  position: relative;
  display: inline-block;
}
#preloader-content .pre-main-wrap img {
  position: relative;
  top: -3px;
  margin: 0 0 -10px 0;
}
#preloader-content .pre-main-wrap .text-bar {
  position: absolute;
  top: -15px;
  left: 0;
  bottom: -15px;
  right: 100%;
  background: #0b436c;
  opacity: 0.65;
  -webkit-transition-property: all;
  -webkit-transition-duration: 0.5s;
  -webkit-transition-timing-function: linear;
  -webkit-transition-delay: 0s;
  -moz-transition-property: all;
  -moz-transition-duration: 0.5s;
  -moz-transition-timing-function: linear;
  -moz-transition-delay: 0s;
  -o-transition-property: all;
  -o-transition-duration: 0.5s;
  -o-transition-timing-function: linear;
  -o-transition-delay: 0s;
  transition-property: all;
  transition-duration: 0.5s;
  transition-timing-function: linear;
  transition-delay: 0s;
}
#preloader-content .sub {
  font-family: 'MyriadProCond', sans-serif;
  font-size: 62px;
  color: #fff;
  font-weight: 100;
  margin-top: 45px;
}
#preloader-content .hot-keys {
  font-family: "PT Sans";
  font-size: 20px;
  color: #fff;
  font-weight: 100;
  text-align: left;
  width: 960px;
  margin: 70px auto 0;
}
#preloader-content .hot-keys .col {
  float: left;
  width: 480px;
}
#preloader-content .hot-keys .col .hint {
  padding: 17px 0;
}
#preloader-content .hot-keys .col .keys {
  padding: 17px 0 17px 140px;
  background-repeat: no-repeat;
  background-image: url("../img/hot-keys.png");
}
#preloader-content .hot-keys .col .keys.keys-chapters {
  background-position: 50px 10px;
}
#preloader-content .hot-keys .col .keys.keys-scroll {
  background-position: 50px -103px;
}
#preloader-content .hot-keys .col .keys.keys-contents {
  background-position: 50px -218px;
}
#preloader-content .hot-keys .col .keys.keys-text {
  background-position: 50px -331px;
}
#preloader-content .hot-keys .col .keys.keys-about {
  background-position: 50px -447px;
}
#preloader-content .hot-keys .col .keys.keys-sound {
  background-position: 50px -560px;
}
#preloader-content .hot-keys .col .keys.keys-close {
  background-position: 50px -676px;
}
.video-controls {
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  top: 0;
  overflow: hidden;
}
.video-controls.visible .seeking-bar {
  bottom: 85px;
}
.video-controls .seeking-bar {
  cursor: pointer;
  background-color: #656d78;
  height: 8px;
  position: absolute;
  bottom: -30px;
  left: 265px;
  right: 265px;
  z-index: 10;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-transition-property: bottom;
  -webkit-transition-duration: 0.7s;
  -webkit-transition-timing-function: ease;
  -webkit-transition-delay: 0s;
  -moz-transition-property: bottom;
  -moz-transition-duration: 0.7s;
  -moz-transition-timing-function: ease;
  -moz-transition-delay: 0s;
  -o-transition-property: bottom;
  -o-transition-duration: 0.7s;
  -o-transition-timing-function: ease;
  -o-transition-delay: 0s;
  transition-property: bottom;
  transition-duration: 0.7s;
  transition-timing-function: ease;
  transition-delay: 0s;
}
.video-controls .seeking-bar .progress {
  cursor: pointer;
  background-color: #b2b6bc;
  height: 8px;
  position: relative;
  -webkit-transition-property: width;
  -webkit-transition-duration: 0.2s;
  -webkit-transition-timing-function: ease;
  -webkit-transition-delay: 0s;
  -moz-transition-property: width;
  -moz-transition-duration: 0.2s;
  -moz-transition-timing-function: ease;
  -moz-transition-delay: 0s;
  -o-transition-property: width;
  -o-transition-duration: 0.2s;
  -o-transition-timing-function: ease;
  -o-transition-delay: 0s;
  transition-property: width;
  transition-duration: 0.2s;
  transition-timing-function: ease;
  transition-delay: 0s;
}
.video-controls .seeking-bar .progress .pos {
  cursor: pointer;
  background-color: #fff;
  height: 10px;
  width: 15px;
  position: absolute;
  top: -1px;
  right: -7px;
}
.special-block {
  float: left;
  margin-left: 34px;
  width: 120px;
}
.ie footer .full-screen {
  display: none;
}
.wrap {
  margin: 0 auto;
}
.wrap.wrap-1440 {
  max-width: 1440px;
  padding: 0 15px;
}
.clearfix {
  clear: both;
  float: none;
}
.change-chapter .prev-chapter,
.change-chapter .next-chapter {
  background-repeat: no-repeat;
  position: absolute;
  top: 50%;
  margin-top: -100px;
  width: 200px;
  height: 200px;
  cursor: pointer;
  z-index: 4;
  -webkit-transition-property: left, right, background-color;
  -webkit-transition-duration: 0.3s;
  -webkit-transition-timing-function: ease;
  -webkit-transition-delay: 0s;
  -moz-transition-property: left, right, background-color;
  -moz-transition-duration: 0.3s;
  -moz-transition-timing-function: ease;
  -moz-transition-delay: 0s;
  -o-transition-property: left, right, background-color;
  -o-transition-duration: 0.3s;
  -o-transition-timing-function: ease;
  -o-transition-delay: 0s;
  transition-property: left, right, background-color;
  transition-duration: 0.3s;
  transition-timing-function: ease;
  transition-delay: 0s;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.change-chapter .prev-chapter:hover,
.change-chapter .next-chapter:hover {
  background-color: rgba(0, 0, 0, 0.3);
}
.change-chapter .prev-chapter {
  left: -200px;
  background-image: url("../img/prev-chapter.png");
  background-position: left center;
}
.change-chapter .prev-chapter.visible {
  left: 0;
}
.change-chapter .next-chapter {
  right: -200px;
  background-image: url("../img/next-chapter.png");
  background-position: right center;
}
.change-chapter .next-chapter.visible {
  right: 0;
}
.change-chapter.hidden-lock .prev-chapter {
  left: -200px;
}
.change-chapter.hidden-lock .next-chapter {
  right: -200px;
}
.button {
  cursor: pointer;
  text-transform: uppercase;
  color: #fff;
  font-size: 40px;
  font-weight: 500;
  border-radius: 5px;
  font-family: 'MyriadProBoldCond', sans-serif;
  padding: 6px 0 5px 0;
  margin: 0 auto;
  width: 232px;
  white-space: nowrap;
  text-align: center;
  text-decoration: none;
  display: block;
  opacity: 1;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-transition-property: all;
  -webkit-transition-duration: 0.1s;
  -webkit-transition-timing-function: linear;
  -webkit-transition-delay: 0s;
  -moz-transition-property: all;
  -moz-transition-duration: 0.1s;
  -moz-transition-timing-function: linear;
  -moz-transition-delay: 0s;
  -o-transition-property: all;
  -o-transition-duration: 0.1s;
  -o-transition-timing-function: linear;
  -o-transition-delay: 0s;
  transition-property: all;
  transition-duration: 0.1s;
  transition-timing-function: linear;
  transition-delay: 0s;
}
.button:hover {
  -webkit-transform: scale(1.075);
  -moz-transform: scale(1.075);
  -o-transform: scale(1.075);
  transform: scale(1.075);
}
.button.hidden-lock {
  opacity: 0 !important;
}
.button.button-green {
  background-color: #869949;
}
.button img {
  width: 50%;
}
.popup {
  background-color: rgba(0, 0, 0, 0.85);
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 100;
  display: none;
}
.popup .popup-content {
  position: relative;
  left: -80px;
  max-width: 1345px;
  margin: 105px auto 0;
  opacity: 0;
}
.popup .scroll {
  overflow: auto;
}
.popup.popup-about .popup-content {
  opacity: 0;
  left: 80px;
}
.popup.popup-about .popup-content menu {
  font-family: 'MyriadProBoldCond', sans-serif;
  font-weight: 500;
  font-size: 22px;
  text-transform: uppercase;
  position: absolute;
  top: 180px;
  left: 250px;
}
.popup.popup-about .popup-content menu li {
  list-style: none;
  color: #a7a8a5;
  cursor: pointer;
  margin-bottom: 32px;
  padding: 0;
  display: inline-block;
  -webkit-transition-property: all;
  -webkit-transition-duration: 0.15s;
  -webkit-transition-timing-function: linear;
  -webkit-transition-delay: 0s;
  -moz-transition-property: all;
  -moz-transition-duration: 0.15s;
  -moz-transition-timing-function: linear;
  -moz-transition-delay: 0s;
  -o-transition-property: all;
  -o-transition-duration: 0.15s;
  -o-transition-timing-function: linear;
  -o-transition-delay: 0s;
  transition-property: all;
  transition-duration: 0.15s;
  transition-timing-function: linear;
  transition-delay: 0s;
}
.popup.popup-about .popup-content menu li.active,
.popup.popup-about .popup-content menu li:hover {
  color: #fff;
}
.popup.popup-about .popup-content .text {
  display: none;
  position: absolute;
  right: 70px;
  top: 190px;
  left: 40%;
  font-size: 20px;
  line-height: 28px;
}
.popup.popup-about .popup-content .text.active {
  display: block;
}
.popup.popup-about .popup-content .text p {
  margin: 25px 10px 25px 0;
}
.popup.popup-about .popup-content .text.text-authors {
  margin: 0 0 0 -70px;
}
.popup.popup-about .popup-content .text.text-authors .author {
  margin-bottom: 40px;
}
.popup.popup-about .popup-content .text.text-authors .author .photo {
  float: left;
  width: 190px;
}
.popup.popup-about .popup-content .text.text-authors .author .info {
  float: left;
  width: 600px;
  margin-top: 10px;
}
.popup.popup-about .popup-content .text.text-authors .author .info .name {
  text-transform: uppercase;
  font-family: 'MyriadProBoldCond', sans-serif;
  font-weight: 500;
  font-size: 22px;
}
.popup.popup-about .popup-content .text.text-authors .author .info .position {
  font-family: 'PT Sans', sans-serif;
  font-size: 18px;
}
.popup.popup-about .popup-content .text.text-authors .author .info .details {
  margin-top: 20px;
  font-size: 18px;
  line-height: 23px;
}
.popup.popup-about .popup-content .text.text-developers {
  margin-top: -12px;
}
.popup.popup-about .popup-content .text.text-developers .developer {
  margin-bottom: 30px;
}
.popup.popup-about .popup-content .text.text-developers .developer .name {
  text-transform: uppercase;
  font-family: 'MyriadProBoldCond', sans-serif;
  font-weight: 500;
  font-size: 22px;
}
.popup.popup-about .popup-content .text.text-developers .developer .position {
  font-family: 'PT Sans', sans-serif;
  font-size: 18px;
}
.popup.popup-table-of-contents .scroll {
  margin-right: 150px;
  margin-left: 250px;
}
.popup.popup-table-of-contents .map {
  background-image: url("../img/map.png");
  background-repeat: no-repeat;
  background-position: left top;
  background-size: contain;
  width: 394px;
  height: 554px;
  float: left;
  position: relative;
}
.popup.popup-table-of-contents .map .label {
  cursor: default;
  color: #fff;
  text-transform: uppercase;
  font-family: 'MyriadProBoldCond', sans-serif;
  font-weight: 500;
  font-size: 24px;
  position: absolute;
  background-color: #b8b0a7;
  border-radius: 3px;
  padding: 5px 8px;
  opacity: 0;
  -webkit-transition-property: all;
  -webkit-transition-duration: 0.3s;
  -webkit-transition-timing-function: linear;
  -webkit-transition-delay: 0s;
  -moz-transition-property: all;
  -moz-transition-duration: 0.3s;
  -moz-transition-timing-function: linear;
  -moz-transition-delay: 0s;
  -o-transition-property: all;
  -o-transition-duration: 0.3s;
  -o-transition-timing-function: linear;
  -o-transition-delay: 0s;
  transition-property: all;
  transition-duration: 0.3s;
  transition-timing-function: linear;
  transition-delay: 0s;
}
.popup.popup-table-of-contents .map .label.visible {
  opacity: 1;
}
.popup.popup-table-of-contents .map .label.visible .marker {
  box-shadow: 0 0 0 8px rgba(255, 255, 255, 0.45);
}
.popup.popup-table-of-contents .map .label.chapter-1 {
  top: 200px;
  left: -20px;
}
.popup.popup-table-of-contents .map .label.chapter-1 .marker {
  left: 306px;
  top: 4px;
}
.popup.popup-table-of-contents .map .label.chapter-2 {
  top: 423px;
  left: 266px;
}
.popup.popup-table-of-contents .map .label.chapter-2 .marker {
  left: 144px;
  top: 4px;
}
.popup.popup-table-of-contents .map .label.chapter-3 {
  top: 473px;
  left: 208px;
}
.popup.popup-table-of-contents .map .label.chapter-3 .marker {
  left: 162px;
  top: 4px;
}
.popup.popup-table-of-contents .map .label.chapter-4 {
  top: 526px;
  left: 212px;
}
.popup.popup-table-of-contents .map .label.chapter-4 .marker {
  left: 155px;
  top: 4px;
}
.popup.popup-table-of-contents .map .label.chapter-5 {
  top: 583px;
  left: 177px;
}
.popup.popup-table-of-contents .map .label.chapter-5 .marker {
  left: 159px;
  top: 3px;
}
.popup.popup-table-of-contents .map .label.chapter-6 {
  top: 643px;
  left: 294px;
}
.popup.popup-table-of-contents .map .label.chapter-6 .marker {
  left: -37px;
  top: 3px;
}
.popup.popup-table-of-contents .map .label.chapter-7 {
  top: 703px;
  left: 225px;
}
.popup.popup-table-of-contents .map .label.chapter-7 .marker {
  left: -38px;
  top: 3px;
}
.popup.popup-table-of-contents .map .label.chapter-8 {
  top: 753px;
  left: 205px;
}
.popup.popup-table-of-contents .map .label.chapter-8 .marker {
  left: -38px;
  top: 3px;
}
.popup.popup-table-of-contents .map .label.chapter-9 {
  top: 803px;
  left: 197px;
}
.popup.popup-table-of-contents .map .label.chapter-9 .marker {
  left: -40px;
  top: 9px;
}
.popup.popup-table-of-contents .map .label .marker {
  position: absolute;
  left: 0;
  top: 0;
  background: transparent;
  border-radius: 50%;
  box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.45);
  width: 26px;
  height: 25px;
  -webkit-transition-property: all;
  -webkit-transition-duration: 0.3s;
  -webkit-transition-timing-function: linear;
  -webkit-transition-delay: 0s;
  -moz-transition-property: all;
  -moz-transition-duration: 0.3s;
  -moz-transition-timing-function: linear;
  -moz-transition-delay: 0s;
  -o-transition-property: all;
  -o-transition-duration: 0.3s;
  -o-transition-timing-function: linear;
  -o-transition-delay: 0s;
  transition-property: all;
  transition-duration: 0.3s;
  transition-timing-function: linear;
  transition-delay: 0s;
}
.popup.popup-table-of-contents .chapters {
  margin: 82px 0 0 85px;
  float: left;
  width: 435px;
  text-transform: uppercase;
  font-family: 'MyriadProBoldCond', sans-serif;
  font-weight: 500;
  font-size: 22px;
}
.popup.popup-table-of-contents .chapters li {
  color: #999;
  margin-bottom: 30px;
}
.popup.popup-table-of-contents .chapters li.padding {
  padding-left: 85px;
}
.popup.popup-table-of-contents .chapters li a {
  color: #fff;
  text-decoration: none;
  padding: 5px 5px 0 5px;
  border-radius: 4px;
  margin-left: 3px;
  -webkit-transition-property: all;
  -webkit-transition-duration: 0.15s;
  -webkit-transition-timing-function: linear;
  -webkit-transition-delay: 0s;
  -moz-transition-property: all;
  -moz-transition-duration: 0.15s;
  -moz-transition-timing-function: linear;
  -moz-transition-delay: 0s;
  -o-transition-property: all;
  -o-transition-duration: 0.15s;
  -o-transition-timing-function: linear;
  -o-transition-delay: 0s;
  transition-property: all;
  transition-duration: 0.15s;
  transition-timing-function: linear;
  transition-delay: 0s;
}
.popup.popup-table-of-contents .chapters li a:hover {
  background-color: #948d85;
}
.popup .close {
  width: 62px;
  height: 62px;
  cursor: pointer;
  position: absolute;
  top: 70px;
  right: 20px;
  background-image: url("../img/close.png");
  background-position: center center;
  background-repeat: no-repeat;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  font-family: 'MyriadProBoldCond', sans-serif;
  height: 100px;
}
header.black {
  color: #111;
}
header.black .logo {
  background-image: url("../img/logo-b.png");
}
header.black .title .left-hr,
header.black .title .right-hr {
  background-image: url("../img/title-hr-b.png");
}
header.white {
  color: #fff;
}
header.white .logo {
  background-image: url("../img/logo.png");
}
header.white .title .left-hr,
header.white .title .right-hr {
  background-image: url("../img/title-hr.png");
}
header .logo {
  float: left;
  width: 144px;
  height: 35px;
  background-image: url("../img/logo.png");
  margin: 13px 0 0 20px;
}
header .social {
  float: right;
  margin-top: 10px;
}
header .title {
  font-weight: 500;
  font-size: 40px;
  text-transform: uppercase;
  text-align: center;
  display: table;
  width: 100%;
  position: relative;
}
header .title > div {
  display: table-cell;
}
header .title .left-hr,
header .title .right-hr {
  width: 50%;
  background-repeat: repeat-x;
  background-position: center center;
  background-image: url("../img/title-hr.png");
}
header .title .text {
  white-space: nowrap;
  padding: 0 20px;
}
.scroll-top {
  position: fixed;
  top: 160px;
  left: 50%;
  margin-left: -100px;
  width: 200px;
  height: 200px;
  cursor: pointer;
  z-index: 35;
  display: block;
  background-image: url("../img/scroll-top.png");
  background-position: bottom center;
  background-repeat: no-repeat;
  opacity: 0;
  -webkit-transition-property: all;
  -webkit-transition-duration: 0.2s;
  -webkit-transition-timing-function: linear;
  -webkit-transition-delay: 0s;
  -moz-transition-property: all;
  -moz-transition-duration: 0.2s;
  -moz-transition-timing-function: linear;
  -moz-transition-delay: 0s;
  -o-transition-property: all;
  -o-transition-duration: 0.2s;
  -o-transition-timing-function: linear;
  -o-transition-delay: 0s;
  transition-property: all;
  transition-duration: 0.2s;
  transition-timing-function: linear;
  transition-delay: 0s;
}
.scroll-top.visible {
  opacity: 1;
}
.scroll-top:hover {
  background-color: rgba(0, 0, 0, 0.3);
}
.scroll-top.hidden {
  display: none;
}
.scroll-top.hidden-lock {
  visibility: hidden;
  opacity: 0;
}
.chapters-wrap {
  overflow: hidden;
}
.chapters-wrap .chapter {
  position: relative;
  top: 0;
  float: left;
}
.chapters-wrap .chapter.chapter-2 section.section-11 .text-bottom {
  height: 260px !important;
  bottom: -260px !important;
}
.chapters-wrap .chapter section {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  overflow: hidden;
}
.chapters-wrap .chapter section .social {
  position: absolute;
  top: 80%;
  z-index: 3;
  display: block;
  width: 100%;
  text-align: center;
}
.chapters-wrap .chapter section .social .special-likes {
  display: inline-block;
}
.chapters-wrap .chapter section.slide-video h1 {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  text-transform: uppercase;
  color: #fff;
  font-size: 84px;
  font-family: 'MyriadProBoldCond';
  font-weight: 500;
  text-align: center;
  margin-top: -65px;
  z-index: 3;
}
.chapters-wrap .chapter section.slide-video .state-2 {
  display: none;
}
.chapters-wrap .chapter section.slide-video .state-2 video {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  min-width: 100%;
  min-height: 100%;
  width: 100%;
  height: 100%;
}
@media (min-aspect-ratio: 16/9) {
  .chapters-wrap .chapter section.slide-video .state-2 video {
    width: 100%;
    height: auto;
  }
}
@media (max-aspect-ratio: 16/9) {
  .chapters-wrap .chapter section.slide-video .state-2 video {
    height: 100%;
    width: auto;
  }
}
.chapters-wrap .chapter section.slide-video .show-video {
  position: absolute;
  top: 60%;
  left: 50%;
  width: 220px;
  margin-left: -110px;
  z-index: 3;
}
.chapters-wrap .chapter section.slide-fullsize {
  position: relative;
}
.chapters-wrap .chapter section.slide-fullsize h1 {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  text-transform: uppercase;
  color: #fff;
  font-size: 134px;
  font-family: 'MyriadProBoldCond', sans-serif;
  font-weight: 500;
  text-align: center;
  margin-top: -65px;
}
.chapters-wrap .chapter section.slide-fullsize .text {
  background-color: rgba(0, 0, 0, 0.45);
  color: #fff;
  position: absolute;
  overflow: auto;
  z-index: 5;
  font-weight: normal;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition-property: all;
  -webkit-transition-duration: 0.7s;
  -webkit-transition-timing-function: cubic-bezier(0.19, 0.66, 0.54, 0.86);
  -webkit-transition-delay: 0s;
  -moz-transition-property: all;
  -moz-transition-duration: 0.7s;
  -moz-transition-timing-function: cubic-bezier(0.19, 0.66, 0.54, 0.86);
  -moz-transition-delay: 0s;
  -o-transition-property: all;
  -o-transition-duration: 0.7s;
  -o-transition-timing-function: cubic-bezier(0.19, 0.66, 0.54, 0.86);
  -o-transition-delay: 0s;
  transition-property: all;
  transition-duration: 0.7s;
  transition-timing-function: cubic-bezier(0.19, 0.66, 0.54, 0.86);
  transition-delay: 0s;
}
.chapters-wrap .chapter section.slide-fullsize .text.text-right {
  right: -640px;
  bottom: 0;
  top: 161px;
  height: 100%;
  width: 640px;
  padding: 160px 80px 100px;
}
.chapters-wrap .chapter section.slide-fullsize .text.text-right.visible {
  right: 0 !important;
}
.chapters-wrap .chapter section.slide-fullsize .text.text-bottom {
  bottom: -220px;
  left: 0;
  right: 0;
  height: 220px;
  padding: 35px 240px 0 150px;
}
.chapters-wrap .chapter section.slide-fullsize .text.text-bottom.visible {
  bottom: 0 !important;
}
.chapters-wrap .chapter section.slide-fullsize .text.text-left {
  bottom: 0;
  top: 161px;
  height: 100%;
  left: -640px;
  width: 640px;
  padding: 160px 80px 100px;
}
.chapters-wrap .chapter section.slide-fullsize .text.text-left.visible {
  left: 0 !important;
}
.chapters-wrap .chapter section.slide-fullsize .text .close {
  width: 82px;
  height: 82px;
  cursor: pointer;
  position: absolute;
  top: 40px;
  right: 40px;
  background-image: url("../img/close.png");
  background-position: center center;
  background-repeat: no-repeat;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.chapters-wrap .chapter section.slide-fullsize .text h2 {
  text-transform: uppercase;
  font-size: 30px;
  font-family: "PT Sans Narrow";
  font-weight: 700;
}
.chapters-wrap .chapter section.slide-fullsize .text p {
  font-size: 22px;
  line-height: 30px;
  margin: 30px 0;
}
.chapters-wrap .chapter section.slide-text {
  overflow: hidden;
  color: #000;
}
.chapters-wrap .chapter section.slide-text .text-wrap {
  width: 960px;
  margin: 160px auto 0;
  font-size: 18px;
  letter-spacing: 0.6px;
  padding: 0 0 40px 90px;
  line-height: 30px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.chapters-wrap .chapter section.slide-text .text-wrap .info {
  color: #606060;
  font-style: italic;
  float: right;
  text-align: left;
  margin-bottom: 5px;
}
.chapters-wrap .chapter section.slide-text .text-wrap h2 {
  font-size: 34px;
  margin: 30px 0;
}
.chapters-wrap .chapter section.slide-text .text-wrap p {
  margin: 30px 0;
  position: relative;
}
.chapters-wrap .chapter section.slide-text .text-wrap p.quote {
  font-size: 28px;
  line-height: 40px;
  color: #999;
  margin: 45px 0 45px -62px;
  padding-left: 30px;
  border-left: 2px solid #e5e5e5;
}
.chapters-wrap .chapter section.slide-text .text-wrap p .banner {
  width: 280px;
  position: absolute;
  left: -330px;
  top: 10px;
}
.chapters-wrap .chapter section.slide-gallery {
  overflow: hidden;
  color: #000;
}
.chapters-wrap .chapter section.slide-gallery .gallery {
  width: 960px;
  margin: 120px auto 0;
  position: relative;
  z-index: 5;
}
.chapters-wrap .chapter section.slide-gallery .gallery .prev-images img {
  cursor: pointer;
  opacity: 0.5;
  margin-right: 3px;
  -webkit-transition-property: all;
  -webkit-transition-duration: 0.2s;
  -webkit-transition-timing-function: linear;
  -webkit-transition-delay: 0s;
  -moz-transition-property: all;
  -moz-transition-duration: 0.2s;
  -moz-transition-timing-function: linear;
  -moz-transition-delay: 0s;
  -o-transition-property: all;
  -o-transition-duration: 0.2s;
  -o-transition-timing-function: linear;
  -o-transition-delay: 0s;
  transition-property: all;
  transition-duration: 0.2s;
  transition-timing-function: linear;
  transition-delay: 0s;
}
.chapters-wrap .chapter section.slide-gallery .gallery .prev-images img.active,
.chapters-wrap .chapter section.slide-gallery .gallery .prev-images img:hover {
  opacity: 1;
}
.chapters-wrap .chapter section.slide-gallery .gallery .big-image {
  text-align: center;
  margin: 7px 0 0 0;
  position: relative;
  width: 960px;
  height: 640px;
  overflow: hidden;
}
.chapters-wrap .chapter section.slide-gallery .gallery .big-image .images-wrap img {
  display: none;
  max-width: 100%;
  max-height: 100%;
}
.chapters-wrap .chapter section.slide-gallery .gallery .big-image .images-wrap img:first-child {
  display: inline-block;
}
.chapters-wrap .chapter section.slide-gallery .gallery .big-image .controls .prev-image,
.chapters-wrap .chapter section.slide-gallery .gallery .big-image .controls .next-image {
  position: absolute;
  bottom: 0;
  cursor: pointer;
  background-repeat: no-repeat;
  opacity: 1;
  -webkit-transition-property: all;
  -webkit-transition-duration: 0.25s;
  -webkit-transition-timing-function: ease;
  -webkit-transition-delay: 0s;
  -moz-transition-property: all;
  -moz-transition-duration: 0.25s;
  -moz-transition-timing-function: ease;
  -moz-transition-delay: 0s;
  -o-transition-property: all;
  -o-transition-duration: 0.25s;
  -o-transition-timing-function: ease;
  -o-transition-delay: 0s;
  transition-property: all;
  transition-duration: 0.25s;
  transition-timing-function: ease;
  transition-delay: 0s;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.chapters-wrap .chapter section.slide-gallery .gallery .big-image .controls .prev-image {
  left: 0;
  top: 0;
  right: 50%;
  background-position: right 750px;
  background-image: url("../img/prev-image.png");
}
.chapters-wrap .chapter section.slide-gallery .gallery .big-image .controls .prev-image:hover {
  background-position: right bottom;
}
.chapters-wrap .chapter section.slide-gallery .gallery .big-image .controls .next-image {
  left: 50%;
  top: 0;
  right: 0;
  background-position: left 750px;
  background-image: url("../img/next-image.png");
}
.chapters-wrap .chapter section.slide-gallery .gallery .big-image .controls .next-image:hover {
  background-position: left bottom;
}
.chapters-wrap .chapter section.slide-gallery .gallery .big-image .controls.hidden .prev-image,
.chapters-wrap .chapter section.slide-gallery .gallery .big-image .controls.hidden .next-image {
  opacity: 0;
  bottom: -110px;
}
.chapters-wrap .chapter section.slide-gallery .gallery .descriptions .description {
  font-size: 22px;
  line-height: 28px;
  font-family: "PT Sans";
  margin: 20px 0;
  display: none;
}
.chapters-wrap .chapter section.slide-gallery .gallery .descriptions .description:first-child {
  display: block;
}
footer {
  position: fixed;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: 250;
  background: #000;
  height: 40px;
  overflow: hidden;
  opacity: 1;
  -webkit-transition-property: all;
  -webkit-transition-duration: 0.25s;
  -webkit-transition-timing-function: linear;
  -webkit-transition-delay: background, opacity;
  -moz-transition-property: all;
  -moz-transition-duration: 0.25s;
  -moz-transition-timing-function: linear;
  -moz-transition-delay: background, opacity;
  -o-transition-property: all;
  -o-transition-duration: 0.25s;
  -o-transition-timing-function: linear;
  -o-transition-delay: background, opacity;
  transition-property: all;
  transition-duration: 0.25s;
  transition-timing-function: linear;
  transition-delay: background, opacity;
}
footer.hidden {
  opacity: 0;
}
footer.transparent {
  background: transparent;
}
footer.transparent nav {
  opacity: 0;
}
footer.transparent .full-screen {
  background-color: transparent;
}
footer .btn {
  cursor: pointer;
  float: left;
  text-transform: uppercase;
  font-family: 'MyriadProBoldCond', sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 40px;
  height: 40px;
  vertical-align: middle;
  padding: 0 10px;
  background-position: 10px center;
  background-repeat: no-repeat;
  position: relative;
  z-index: 25;
  -webkit-transition-property: all;
  -webkit-transition-duration: 0.25s;
  -webkit-transition-timing-function: linear;
  -webkit-transition-delay: color, background-color;
  -moz-transition-property: all;
  -moz-transition-duration: 0.25s;
  -moz-transition-timing-function: linear;
  -moz-transition-delay: color, background-color;
  -o-transition-property: all;
  -o-transition-duration: 0.25s;
  -o-transition-timing-function: linear;
  -o-transition-delay: color, background-color;
  transition-property: all;
  transition-duration: 0.25s;
  transition-timing-function: linear;
  transition-delay: color, background-color;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
footer .btn:hover,
footer .btn.active {
  color: #000;
  background-color: #fff;
}
footer .btn.hidden {
  display: none;
}
footer .btn.btn-table-of-contents {
  background-image: url("../img/btn-table-of-contents.png");
  padding-left: 42px;
}
footer .btn.btn-table-of-contents:hover,
footer .btn.btn-table-of-contents.active {
  background-image: url("../img/btn-table-of-contents-a.png");
}
footer nav {
  text-align: center;
  cursor: default;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  -webkit-transition-property: all;
  -webkit-transition-duration: 0.25s;
  -webkit-transition-timing-function: linear;
  -webkit-transition-delay: opacity;
  -moz-transition-property: all;
  -moz-transition-duration: 0.25s;
  -moz-transition-timing-function: linear;
  -moz-transition-delay: opacity;
  -o-transition-property: all;
  -o-transition-duration: 0.25s;
  -o-transition-timing-function: linear;
  -o-transition-delay: opacity;
  transition-property: all;
  transition-duration: 0.25s;
  transition-timing-function: linear;
  transition-delay: opacity;
}
footer nav .prev-screen,
footer nav .next-screen {
  cursor: pointer;
  display: inline-block;
  background-repeat: no-repeat;
  background-position: center center;
  height: 40px;
  width: 30px;
  vertical-align: top;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
footer nav .prev-screen {
  background-image: url("../img/btn-prev-screen.png");
}
footer nav .next-screen {
  background-image: url("../img/btn-next-screen.png");
}
footer nav ul {
  display: inline-block;
  vertical-align: top;
  margin: 0 7px;
}
footer nav ul li {
  font-family: 'MyriadProBoldCond', sans-serif;
  font-weight: 500;
  font-size: 22px;
  line-height: 40px;
  height: 40px;
  vertical-align: middle;
  color: #797979;
  cursor: pointer;
  display: inline-block;
  padding: 0 8px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-transition-property: all;
  -webkit-transition-duration: 0.2s;
  -webkit-transition-timing-function: linear;
  -webkit-transition-delay: 0s;
  -moz-transition-property: all;
  -moz-transition-duration: 0.2s;
  -moz-transition-timing-function: linear;
  -moz-transition-delay: 0s;
  -o-transition-property: all;
  -o-transition-duration: 0.2s;
  -o-transition-timing-function: linear;
  -o-transition-delay: 0s;
  transition-property: all;
  transition-duration: 0.2s;
  transition-timing-function: linear;
  transition-delay: 0s;
}
footer nav ul li.active,
footer nav ul li:hover {
  color: #fff;
}
footer .full-screen,
footer .sound {
  float: right;
  background-repeat: no-repeat;
  background-image: url("../img/sound.png");
  cursor: pointer;
  height: 40px;
  width: 40px;
  position: relative;
  z-index: 25;
}
footer .full-screen {
  background-color: #4d4d4d;
  background-image: url("../img/btn-fullscreen.png");
  background-position: center center;
  -webkit-transition-property: all;
  -webkit-transition-duration: 0.15s;
  -webkit-transition-timing-function: linear;
  -webkit-transition-delay: background;
  -moz-transition-property: all;
  -moz-transition-duration: 0.15s;
  -moz-transition-timing-function: linear;
  -moz-transition-delay: background;
  -o-transition-property: all;
  -o-transition-duration: 0.15s;
  -o-transition-timing-function: linear;
  -o-transition-delay: background;
  transition-property: all;
  transition-duration: 0.15s;
  transition-timing-function: linear;
  transition-delay: background;
}
footer .full-screen:hover {
  background-color: #4d4d4d;
}
footer .sound {
  display: none;
  background-position: center 11px;
}
footer .sound.muted {
  background-position: center -31px;
}
