.h { display: none; }

.no-user-select {
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;

}
.border-box {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
@font-face {
	font-family: 'Georgia';
	src: url('../fonts/944555.eot');
	src: local('☺'), url('../fonts/944555.woff') format('woff'), url('../fonts/944555.ttf') format('truetype'), url('../fonts/944555.svg') format('svg');
	font-weight: normal;
}
@font-face {
	font-family: 'Georgia';
	src: url('../fonts/344573.eot');
	src: local('☺'), url('../fonts/344573.woff') format('woff'), url('../fonts/344573.ttf') format('truetype'), url('../fonts/344573.svg') format('svg');
	font-weight: normal;
	font-style: italic;
}
@font-face {
	font-family: 'MyriadProBoldCond';
	src: url('../fonts/MyriadPro-BoldCond.eot');
	src: local('☺'), url('../fonts/MyriadPro-BoldCond.woff') format('woff'), url('../fonts/MyriadPro-BoldCond.ttf') format('truetype'), url('../fonts/MyriadPro-BoldCond.svg') format('svg');
	font-weight: normal;
}
@font-face {
	font-family: 'MyriadProCond';
	src: url('../fonts/MyriadPro-Cond.eot');
	src: local('☺'), url('../fonts/MyriadPro-Cond.woff') format('woff'), url('../fonts/MyriadPro-Cond.ttf') format('truetype'), url('../fonts/MyriadPro-Cond.svg') format('svg');
	font-weight: normal;
}

body {	color: #fff; background: #222;	font-family: 'Georgia';	overflow: hidden; }

	body.w640 { min-width: 640px; }

	body.w1024 { min-width: 641px; max-width: 1024px; }

	body.w1280 { min-width: 1025px; max-width: 1280px; }

	body.w1600 { min-width: 1281px; max-width: 1600px ;}

	body.w1920 { min-width: 1601px; max-width: 1920px; }


.pluso { vertical-align: top; margin-bottom: -10px; }

.pluso .pluso-wrap a {
	margin-left: 6px !important;
	margin-right: 6px !important;
	background-image: url("../img/pluso-buttons.png") !important;
}
.pluso .pluso-wrap a.pluso-more {
	display: none !important;
}

#preloader-content .pre-main {
	text-align: center;
	font-family: 'MyriadProBoldCond', sans-serif;
	font-weight: 500;
	text-transform: uppercase;
	color: #fff;
	background-color: #0b436c;
	padding: 15px 0 25px;
	}
	body.w640 .pre-main  { font-size: 40px; }
	body.w1024 .pre-main { font-size: 40px; }
	body.w1280 .pre-main { font-size: 40px; }
	body.w1600 .pre-main { font-size: 40px; }
	body.w1920 .pre-main { font-size: 40px; }

	#preloader-content .pre-main-wrap { position: relative; display: inline-block; }

		#preloader-content .pre-main-wrap img { position: relative; top: -3px; margin: 0 0 -10px 0; }
	
			body.w640 .pre-main-wrap img { width:400px; }
			body.w1024 .pre-main-wrap img { width:640px; }
			body.w1280 .pre-main-wrap img { width:880px; }
			body.w1600 .pre-main-wrap img { width:1040px; }
			body.w1920 .pre-main-wrap img {  }

	#preloader-content .pre-main-wrap .text-bar {
		position: absolute;
		top: -15px;
		left: 0;
		bottom: -15px;
		right: 100%;
		background: #0b436c;
		opacity: 0.65;
		-webkit-transition-property: all;
		-webkit-transition-duration: 0.5s;
		-webkit-transition-timing-function: linear;
		-webkit-transition-delay: 0s;
		-moz-transition-property: all;
		-moz-transition-duration: 0.5s;
		-moz-transition-timing-function: linear;
		-moz-transition-delay: 0s;
		-o-transition-property: all;
		-o-transition-duration: 0.5s;
		-o-transition-timing-function: linear;
		-o-transition-delay: 0s;
		transition-property: all;
		transition-duration: 0.5s;
		transition-timing-function: linear;
		transition-delay: 0s;
		}

	#preloader-content .sub {
		font-family: 'MyriadProCond', sans-serif;
		color: #fff;
		font-weight: 100;
		text-align: center;
		}/* delete */

		body.w640 .sub { font-size: 24px; font-weight: 100; margin-top: 45px; }
		body.w1024 .sub { font-size: 44px; font-weight: 100; margin-top: 30px; }
		body.w1280 .sub { font-size: 44px; font-weight: 100; margin-top: 30px; }
		body.w1600 .sub { font-size: 44px; font-weight: 100; margin-top: 45px; }
		body.w1920 .sub { font-size: 62px; font-weight: 100; margin-top: 45px; }

#preloader-content .hot-keys {
	font-family: "PT Sans";
	color: #fff;
	font-weight: 100;
	text-align: left;
	}
	body.w640 .hot-keys { display:none; }
	body.w1024 .hot-keys { margin: 30px auto 0; width: 840px; font-size: 16px; }
	body.w1280 .hot-keys { margin: 10px auto 0; width: 840px; font-size: 16px; }
	body.w1600 .hot-keys { margin: 30px auto 0; width: 960px; font-size: 20px; }
	body.w1920 .hot-keys { margin: 30px auto 0; width: 960px; font-size: 20px; }

	#preloader-content .hot-keys .col { float: left; }
	
		body.w1024 .hot-keys .col { width: 420px; }
		body.w1280 .hot-keys .col { width: 420px; }
		body.w1600 .hot-keys .col { width: 420px; }
		body.w1920 .hot-keys .col { width: 480px; }
	
		#preloader-content .hot-keys .col .hint { padding: 15px 0 16px; }

#preloader-content .hot-keys .col .keys {
	padding: 16px 0 15px 140px;
	background-repeat: no-repeat;
	background-image: url("../img/hot-keys.png");
	}

#preloader-content .hot-keys .col .keys.keys-chapters { background-position: 50px 10px; }

#preloader-content .hot-keys .col .keys.keys-scroll { background-position: 50px -103px; }

#preloader-content .hot-keys .col .keys.keys-contents { background-position: 50px -218px; }

#preloader-content .hot-keys .col .keys.keys-text { background-position: 50px -331px; }

#preloader-content .hot-keys .col .keys.keys-about { background-position: 50px -447px; }

#preloader-content .hot-keys .col .keys.keys-sound { background-position: 50px -560px; }

#preloader-content .hot-keys .col .keys.keys-close { background-position: 50px -676px; }

.video-controls {
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    top: 0;
    overflow: hidden;
}
.video-controls.visible .seeking-bar {
    bottom: 85px;
}
.video-controls .seeking-bar {
    cursor: pointer;
    background-color: #656d78;
    height: 8px;
    position: absolute;
    bottom: -30px;
    left: 265px;
    right: 265px;
    z-index: 10;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-transition-property: bottom;
    -webkit-transition-duration: 0.7s;
    -webkit-transition-timing-function: ease;
    -webkit-transition-delay: 0s;
    -moz-transition-property: bottom;
    -moz-transition-duration: 0.7s;
    -moz-transition-timing-function: ease;
    -moz-transition-delay: 0s;
    -o-transition-property: bottom;
    -o-transition-duration: 0.7s;
    -o-transition-timing-function: ease;
    -o-transition-delay: 0s;
    transition-property: bottom;
    transition-duration: 0.7s;
    transition-timing-function: ease;
    transition-delay: 0s;
}
.video-controls .seeking-bar .progress {
    cursor: pointer;
    background-color: #b2b6bc;
    height: 8px;
    position: relative;
    -webkit-transition-property: width;
    -webkit-transition-duration: 0.2s;
    -webkit-transition-timing-function: ease;
    -webkit-transition-delay: 0s;
    -moz-transition-property: width;
    -moz-transition-duration: 0.2s;
    -moz-transition-timing-function: ease;
    -moz-transition-delay: 0s;
    -o-transition-property: width;
    -o-transition-duration: 0.2s;
    -o-transition-timing-function: ease;
    -o-transition-delay: 0s;
    transition-property: width;
    transition-duration: 0.2s;
    transition-timing-function: ease;
    transition-delay: 0s;
}
.video-controls .seeking-bar .progress .pos {
    cursor: pointer;
    background-color: #fff;
    height: 10px;
    width: 15px;
    position: absolute;
    top: -1px;
    right: -7px;
}

.special-block { float: left; margin-left: 34px; width: 110px; }

body.w640 .special-block			{ margin-left: 0 !important; }

body.w640 .special-block.maillike	{ display: none; }

.ie footer .full-screen { display: none; }

.wrap { margin: 0 auto; }

.wrap.wrap-1440 { max-width: 1440px; padding: 0 15px; }

.clearfix { clear: both; float: none; }

/* Стрелки — общие стили */

.change-chapter .prev-chapter,
.change-chapter .next-chapter {
	margin:10px;
	display: block;
	background-repeat: no-repeat;
	position: absolute;
	cursor: pointer;
	z-index: 4;
    top: 50%;
	-webkit-transition-property: left, right, background-color;
	-webkit-transition-duration: 0.3s;
	-webkit-transition-timing-function: ease;
	-webkit-transition-delay: 0s;
	-moz-transition-property: left, right, background-color;
	-moz-transition-duration: 0.3s;
	-moz-transition-timing-function: ease;
	-moz-transition-delay: 0s;
	-o-transition-property: left, right, background-color;
	-o-transition-duration: 0.3s;
	-o-transition-timing-function: ease;
	-o-transition-delay: 0s;
	transition-property: left, right, background-color;
	transition-duration: 0.3s;
	transition-timing-function: ease;
	transition-delay: 0s;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	}

	body.w640 .change-chapter .prev-chapter,
	body.w640 .change-chapter .next-chapter { margin-top: -50px; width: 100px; height: 100px; }

	body.w1024 .change-chapter .prev-chapter,
	body.w1024 .change-chapter .next-chapter { margin-top: -50px; width: 100px; height: 100px; }

	body.w1280 .change-chapter .prev-chapter,
	body.w1280 .change-chapter .next-chapter { margin-top: -50px; width: 100px; height: 100px; }

	body.w1600 .change-chapter .prev-chapter,
	body.w1280 .change-chapter .next-chapter { margin-top: -50px; width: 100px; height: 100px; }

	body.w1920 .change-chapter .prev-chapter,
	body.w1920 .change-chapter .next-chapter { margin-top: -100px; width: 200px; height: 200px; }


	.change-chapter .prev-chapter:hover,
	.change-chapter .next-chapter:hover { background-color: rgba(0, 0, 0, 0.3); }

/* Стрелки — предыдущая глава */

.change-chapter .prev-chapter {
	left: -200px;
	background-image: url("../img/prev-chapter.png");
	background-position: left center;
	}

	body.w640 .change-chapter .prev-chapter  { background-image: url("../img/prev-chapter-min.png"); }
	body.w1024 .change-chapter .prev-chapter { background-image: url("../img/prev-chapter-min.png"); }
	body.w1280 .change-chapter .prev-chapter { background-image: url("../img/prev-chapter-min.png"); }
	body.w1600 .change-chapter .prev-chapter { background-image: url("../img/prev-chapter-min.png"); }
	body.w1920 .change-chapter .prev-chapter { background-image: url("../img/prev-chapter.png"); }

	.change-chapter .prev-chapter.visible { left: 0; }

	.change-chapter.hidden-lock .prev-chapter { left: -200px; }

/* Стрелки — следующая глава */

.change-chapter .next-chapter {
	right: -200px;
	background-image: url("../img/next-chapter.png");
	background-position: right center;
	}
	
	body.w640 .change-chapter .next-chapter 	{ background-image: url("../img/next-chapter-min.png"); }
	body.w1024 .change-chapter .next-chapter 	{ background-image: url("../img/next-chapter-min.png"); }
	body.w1280 .change-chapter .next-chapter 	{ background-image: url("../img/next-chapter-min.png"); }
	body.w1600 .change-chapter .next-chapter 	{ background-image: url("../img/next-chapter.png"); }
	body.w1920 .change-chapter .next-chapter 	{ background-image: url("../img/next-chapter.png"); }


	.change-chapter .next-chapter.visible { right: 0; }

	.change-chapter.hidden-lock .next-chapter { right: -200px; }

.button {
	cursor: pointer;
	text-transform: uppercase;
	color: #fff;
	font-weight: 500;
	border-radius: 5px;
	font-family: 'MyriadProBoldCond', sans-serif;
	padding: 6px 0 5px 0;
	margin: 0 auto;
	width: 232px;
	white-space: nowrap;
	text-align: center;
	text-decoration: none;
	display: block;
	opacity: 1;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-webkit-transition-property: all;
	-webkit-transition-duration: 0.1s;
	-webkit-transition-timing-function: linear;
	-webkit-transition-delay: 0s;
	-moz-transition-property: all;
	-moz-transition-duration: 0.1s;
	-moz-transition-timing-function: linear;
	-moz-transition-delay: 0s;
	-o-transition-property: all;
	-o-transition-duration: 0.1s;
	-o-transition-timing-function: linear;
	-o-transition-delay: 0s;
	transition-property: all;
	transition-duration: 0.1s;
	transition-timing-function: linear;
	transition-delay: 0s;
	}

	body.w640 .button 	{ font-size: 28px; }
	body.w1024 .button 	{ font-size: 32px; }
	body.w1280 .button 	{ font-size: 36px; }
	body.w1600 .button 	{ font-size: 36px; }
	body.w1920 .button 	{ font-size: 40px; }


	.button:hover {
		-webkit-transform: scale(1.075);
		-moz-transform: scale(1.075);
		-o-transform: scale(1.075);
		transform: scale(1.075);
		}

	.button.hidden-lock { opacity: 0 !important; }
	
	.button.button-green { background-color: #869949; }

	.button img { width: 50%; }



.popup {
	background-color: rgba(0, 0, 0, 0.85);
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 100;
	display: none;
	}
.popup .popup-content {
	position: relative;
	left: 0;
	opacity: 0;
}

body.w640 .popup .popup-content { margin: 20px auto 0; }
body.w1024 .popup .popup-content { margin: 20px auto 0; }
body.w1280 .popup .popup-content { margin: 20px auto 0; }
body.w1600 .popup .popup-content { margin: 70px auto 0; }
body.w1920 .popup .popup-content { margin: 105px auto 0; }


.popup .scroll { overflow: hidden; }

.popup.popup-about .popup-content { opacity: 0;
	left: 80px;
	}

	.popup.popup-about .popup-content menu {
		font-family: 'MyriadProBoldCond', sans-serif;
		font-weight: 500;
		font-size: 22px;
		text-transform: uppercase;
		position: absolute;
		}
	
		body.w640 .popup.popup-about .popup-content menu 	{ top: 60px; left: 30px; }
		body.w1024 .popup.popup-about .popup-content menu 	{ top: 60px; left: 60px; }
		body.w1280 .popup.popup-about .popup-content menu 	{ top: 60px; left: 60px; }
		body.w1600 .popup.popup-about .popup-content menu 	{ top: 60px; left: 60px; }
		body.w1920 .popup.popup-about .popup-content menu 	{ top: 60px; left: 60px; }

		.popup.popup-about .popup-content menu li {
			list-style: none;
			color: #a7a8a5;
			cursor: pointer;
			margin-bottom: 32px;
			padding: 0;
			display: inline-block;
			-webkit-transition-property: all;
			-webkit-transition-duration: 0.15s;
			-webkit-transition-timing-function: linear;
			-webkit-transition-delay: 0s;
			-moz-transition-property: all;
			-moz-transition-duration: 0.15s;
			-moz-transition-timing-function: linear;
			-moz-transition-delay: 0s;
			-o-transition-property: all;
			-o-transition-duration: 0.15s;
			-o-transition-timing-function: linear;
			-o-transition-delay: 0s;
			transition-property: all;
			transition-duration: 0.15s;
			transition-timing-function: linear;
			transition-delay: 0s;
			}

		.popup.popup-about .popup-content menu li.active,
		.popup.popup-about .popup-content menu li:hover {
			color: #fff; }

	.popup.popup-about .popup-content .text {
		display: none;
		position: absolute;
		font-size: 20px;
		line-height: 28px;
        top: 0;
		}

		body.w640 .popup.popup-about .popup-content .text 	{ left: 200px; width: 400px; }
		body.w1024 .popup.popup-about .popup-content .text 	{ left: 230px; width: 400px; }
		body.w1280 .popup.popup-about .popup-content .text 	{ left: 230px; width: 575px; }
		body.w1600 .popup.popup-about .popup-content .text 	{ left: 23%; width: 800px; }
		body.w1920 .popup.popup-about .popup-content .text 	{ left: 30%; width: 800px; }


	.popup.popup-about .popup-content .text.active { display: block; }
	
	.popup.popup-about .popup-content .text p { margin: 25px 10px 25px 0; right: 70px; padding:0 55px 0 0; font-size: 18px; }

		body.w640 .popup.popup-about .popup-content .text p { font-size: 16px; line-height: 1.4; }

	.popup.popup-about .popup-content .text.text-authors { margin: 0 0 0 -70px; }

.popup.popup-about .popup-content .text.text-authors .author { margin-bottom: 40px; }

	.popup.popup-about .popup-content .text.text-authors .author { margin-left: 80px; }

.popup.popup-about .popup-content .text.text-authors .author .photo { float: left; width: 190px; }

.popup.popup-about .popup-content .text.text-authors .author .info { float: left; margin-top: 10px; }

	.popup.popup-about .popup-content .text.text-authors .author .info .name {
		text-transform: uppercase;
		font-family: 'MyriadProBoldCond', sans-serif;
		font-weight: 500;
		font-size: 22px;
		}

	.popup.popup-about .popup-content .text.text-authors .author .info .position 
	{ font-family: 'PT Sans', sans-serif; font-size: 18px; }

	.popup.popup-about .popup-content .text.text-authors .author .info .details
	{ margin-top: 20px; font-size: 18px; line-height: 23px; }

	body.w640px .popup.popup-about .popup-content .text.text-authors .author .info .details { width:330px; }

.popup.popup-about .popup-content .text.text-developers {
	margin-top: -12px;
}
.popup.popup-about .popup-content .text.text-developers .developer {
	margin-bottom: 30px;
    padding-top: 30px;
}
.popup.popup-about .popup-content .text.text-developers .developer .name {
	text-transform: uppercase;
	font-family: 'MyriadProBoldCond', sans-serif;
	font-weight: 500;
	font-size: 22px;
}
.popup.popup-about .popup-content .text.text-developers .developer .position {
	font-family: 'PT Sans', sans-serif;
	font-size: 18px;
}
.popup.popup-table-of-contents .scroll {  }

	body.w640 .popup.popup-table-of-contents .scroll { margin-right: 0; margin-left: 20px; }
	body.w1024 .popup.popup-table-of-contents .scroll { margin-right: 0; margin-left: 20px; }
	body.w1280 .popup.popup-table-of-contents .scroll { margin-right: 100px; margin-left: 75px; }
	body.w1600 .popup.popup-table-of-contents .scroll { margin-right: 100px; margin-left: 125px; }
	body.w1920 .popup.popup-table-of-contents .scroll { margin-right: 150px; margin-left: 250px; }

.popup.popup-table-of-contents .map {
	float: left;
	background-image: url("../img/map.png");
	background-repeat: no-repeat;
	background-position: left top;
	background-size: contain;
	position: relative;
    width: 630px;
    height: 685px;
	}
	body.w640 .popup.popup-table-of-contents .map { display: none; }
	body.w1024 .popup.popup-table-of-contents .map { width: 256px; height: 354px; margin-top: 50px; }
	body.w1280 .popup.popup-table-of-contents .map { width: 320px; height: 443px; margin-top: 20px; }


/* .popup.popup-table-of-contents .map .label {
	cursor: default;
	color: #fff;
	text-transform: uppercase;
	font-family: 'MyriadProBoldCond', sans-serif;
	font-weight: 500;
	font-size: 24px;
	position: absolute;
	background-color: #b8b0a7;
	border-radius: 3px;
	padding: 5px 8px;
	opacity: 0;
	-webkit-transition-property: all;
	-webkit-transition-duration: 0.3s;
	-webkit-transition-timing-function: linear;
	-webkit-transition-delay: 0s;
	-moz-transition-property: all;
	-moz-transition-duration: 0.3s;
	-moz-transition-timing-function: linear;
	-moz-transition-delay: 0s;
	-o-transition-property: all;
	-o-transition-duration: 0.3s;
	-o-transition-timing-function: linear;
	-o-transition-delay: 0s;
	transition-property: all;
	transition-duration: 0.3s;
	transition-timing-function: linear;
	transition-delay: 0s;
	} */

.popup.popup-table-of-contents .map .marker.visible { opacity: 1; }

.popup.popup-table-of-contents .map .marker {
	position: absolute;
	left: 0;
	top: 0;
	border:3px solid white;
	background: transparent;
	border-radius: 50%;
	box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.7) !important;
	width: 25px;
	height: 25px;
	-webkit-transition-property: all !important;
	-webkit-transition-duration: 0.3s !important;
	-webkit-transition-timing-function: linear !important;
	-webkit-transition-delay: 0s !important;
	-moz-transition-property: all !important;
	-moz-transition-duration: 0.3s !important;
	-moz-transition-timing-function: linear !important;
	-moz-transition-delay: 0s !important;
	-o-transition-property: all;
	-o-transition-duration: 0.3s;
	-o-transition-timing-function: linear;
	-o-transition-delay: 0s;
	transition-property: all;
	transition-duration: 0.3s;
	transition-timing-function: linear;
	transition-delay: 0s;
	}

.popup.popup-table-of-contents .map .marker.chapter-1 { }

	body.w1024 .map .marker.chapter-1	{ top: 203px; 	left: 208px; }
	body.w1280 .map .marker.chapter-1	{ top: 203px; 	left: 208px; }
	body.w1600 .map .marker.chapter-1	{ top: 203px; 	left: 208px; }
	body.w1920 .map .marker.chapter-1	{ top: 203px; 	left: 208px; }

.popup.popup-table-of-contents .map .marker.chapter-2 { }

	body.w1024 .popup.popup-table-of-contents .map .marker.chapter-2			{ top: 223px; 	left: -208px; }
	body.w1280 .popup.popup-table-of-contents .map .marker.chapter-2			{ top: 223px; 	left: -208px; }
	body.w1600 .popup.popup-table-of-contents .map .marker.chapter-2			{ top: 223px; 	left: -208px; }
	body.w1920 .popup.popup-table-of-contents .map .marker.chapter-2			{ top: 223px; 	left: -208px; }


.popup.popup-table-of-contents .map .label.chapter-3 			{ top: 473px; 	left: 208px; }

.popup.popup-table-of-contents .map .label.chapter-4 			{ top: 526px; 	left: 212px; }

.popup.popup-table-of-contents .map .label.chapter-5 			{ top: 583px;	left: 177px; }

.popup.popup-table-of-contents .map .label.chapter-6 			{ top: 643px;	left: 294px; }

.popup.popup-table-of-contents .map .label.chapter-7 			{ top: 703px;	left: 225px; }

.popup.popup-table-of-contents .map .label.chapter-8 			{ top: 753px;	left: 205px; }

.popup.popup-table-of-contents .map .label.chapter-9 			{ top: 803px;	left: 197px; }

.popup.popup-table-of-contents .chapters {
	float:left;
	width: 435px;
	text-transform: uppercase;
	font-family: 'MyriadProBoldCond', sans-serif;
	font-weight: 500;
	font-size: 22px;
	}
	body.w640 .popup.popup-table-of-contents  .chapters { margin: 40px 0 0 60px; width:410px; }
	body.w1024 .popup.popup-table-of-contents .chapters { margin: 70px 0 0 20px; width:340px; }
	body.w1280 .popup.popup-table-of-contents .chapters { margin: 70px 0 0 60px; width:410px; }
	body.w1600 .popup.popup-table-of-contents .chapters { margin: 70px 0 0 -50px; width:410px; }
	body.w1920 .popup.popup-table-of-contents .chapters { margin: 82px 0 0 85px; width:410px; }

.popup.popup-table-of-contents .chapters li {
	color: #999;
	margin-bottom: 30px;
}
body.w640 .popup.popup-table-of-contents .chapters li { margin-bottom: 15px; }

.popup.popup-table-of-contents .chapters li.padding {
	padding-left: 85px;
}
.popup.popup-table-of-contents .chapters li a {
	color: #fff;
	text-decoration: none;
	padding: 5px 5px 0 5px;
	border-radius: 4px;
	margin-left: 3px;
	-webkit-transition-property: all;
	-webkit-transition-duration: 0.15s;
	-webkit-transition-timing-function: linear;
	-webkit-transition-delay: 0s;
	-moz-transition-property: all;
	-moz-transition-duration: 0.15s;
	-moz-transition-timing-function: linear;
	-moz-transition-delay: 0s;
	-o-transition-property: all;
	-o-transition-duration: 0.15s;
	-o-transition-timing-function: linear;
	-o-transition-delay: 0s;
	transition-property: all;
	transition-duration: 0.15s;
	transition-timing-function: linear;
	transition-delay: 0s;
}
.popup.popup-table-of-contents .chapters li a:hover {
	background-color: #948d85;
}
.popup .close {
	width: 62px;
	height: 62px;
	cursor: pointer;
	position: absolute;
	right: 80px;
    top: 20px;
	background-image: url("../img/close.png");
	background-position: center center;
	background-repeat: no-repeat;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
body.w1600 .popup .close { right: 60px; }
body.w1280 .popup .close { right: 60px; }
body.w1024 .popup .close { display: none; }
body.w640 .popup .close { display: none; }

body.w1280 .popup.popup-table-of-contents .chapters li,
body.w1024 .popup.popup-table-of-contents .chapters li,
body.w640 .popup.popup-table-of-contents .chapters li {
    margin-bottom: 25px;
}

header {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 10;
	font-family: 'MyriadProBoldCond', sans-serif;
	height: 100px;
}
header.black {
	color: #111;
}
header.black .logo {
	background-image: url("../img/logo-b.png");
}

header.black .title {}

	header.black .title .left-hr,
	header.black .title .right-hr {
	background-image: url("../img/title-hr-b.png");
	}

header.white { color: #fff; }

	body.w640 header .title { display: none; }


header.white .logo {
	background-image: url("../img/logo.png");
}
header.white .title .left-hr,
header.white .title .right-hr {
	background-image: url("../img/title-hr.png");
}
header .logo {
	float: left;
	width: 144px;
	height: 35px;
	background-image: url("../img/logo.png");
	margin: 13px 0 0 20px;
}
header .social {
	float: right;
	margin-top: 10px;
}
header .title {
	font-weight: 500;
	font-size: 40px;
	text-transform: uppercase;
	text-align: center;
	display: table;
	width: 100%;
	position: relative;
}

header .title > div {
	display: table-cell;
}
header .title .left-hr,
header .title .right-hr {
	width: 50%;
	background-repeat: repeat-x;
	background-position: center center;
	background-image: url("../img/title-hr.png");
}
header .title .text {
	white-space: nowrap;
	padding: 0 20px;
}
.scroll-top {
	position: fixed;
	cursor: pointer;
	z-index: 35;
	display: block;
	background-position: bottom center;
	background-repeat: no-repeat;
	opacity: 0;
	-webkit-transition-property: all;
	-webkit-transition-duration: 0.2s;
	-webkit-transition-timing-function: linear;
	-webkit-transition-delay: 0s;
	-moz-transition-property: all;
	-moz-transition-duration: 0.2s;
	-moz-transition-timing-function: linear;
	-moz-transition-delay: 0s;
	-o-transition-property: all;
	-o-transition-duration: 0.2s;
	-o-transition-timing-function: linear;
	-o-transition-delay: 0s;
	transition-property: all;
	transition-duration: 0.2s;
	transition-timing-function: linear;
	transition-delay: 0s;
	}

	body.w640 .scroll-top { 
		background-image: url("../img/scroll-top-min.png"); 
		top: 60px; left: 50%; margin-left: -50px; width: 100px; height: 100px; }

	body.w1024 .scroll-top { 
		background-image: url("../img/scroll-top-min.png"); 
		top: 110px; left: 50%; margin-left: -50px; width: 100px; height: 100px; }

	body.w1280 .scroll-top { 
		background-image: url("../img/scroll-top-min.png"); 
		top: 110px; left: 50%; margin-left: -50px; width: 100px; height: 100px; }

	body.w1600 .scroll-top { 
		background-image: url("../img/scroll-top.png"); 
		top: 160px; left: 50%; margin-left: -100px; width: 200px; height: 200px; }

	body.w1600 .scroll-top { 
		background-image: url("../img/scroll-top.png"); 
		top: 160px; left: 50%; margin-left: -100px; width: 200px; height: 200px; }

	body.w1920 .scroll-top {
		background-image: url("../img/scroll-top.png");
		top: 160px; left: 50%; margin-left: -100px; width: 200px; height: 200px; }


.scroll-top.visible { opacity: 1; }

.scroll-top:hover { background-color: rgba(0, 0, 0, 0.3); }

.scroll-top.hidden { display: none; }

.scroll-top.hidden-lock { visibility: hidden; opacity: 0; }

.chapters-wrap { overflow: hidden; }

	.chapters-wrap .chapter {
		position: relative;
		top: 0;
		float: left;
		}

.chapters-wrap .chapter.chapter-2 section.section-11 .text-bottom {
	height: 260px !important;
	bottom: -260px !important;
}
.chapters-wrap .chapter section {
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	width: 100%;
	overflow: hidden;
}
.chapters-wrap .chapter section .social {
	position: absolute;
	top: 80%;
	z-index: 3;
	display: block;
	width: 100%;
	text-align: center;
}
body.w640 .chapters-wrap .chapter section .social { top:70%; }

.chapters-wrap .chapter section .social .special-likes {
	display: inline-block;
}
.chapters-wrap .chapter h1 {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    text-transform: uppercase;
    color: #fff;
    font-size: 134px;
    font-family: 'MyriadProBoldCond', sans-serif;
    font-weight: 500;
    text-align: center;
    margin-top: -65px;
}
body.w640 .chapters-wrap .chapter h1  { margin-top: -60px; font-size: 32px; }
body.w1024 .chapters-wrap .chapter h1 { margin-top: -60px; font-size: 50px; }
body.w1280 .chapters-wrap .chapter h1 { margin-top: -60px; font-size: 70px; }
body.w1600 .chapters-wrap .chapter h1 { margin-top: -60px; font-size: 70px; }
body.w1920 .chapters-wrap .chapter h1 { margin-top: -65px; font-size: 84px; }

.chapters-wrap .chapter section.slide-video .state-2 {
	display: none;
}
.chapters-wrap .chapter section.slide-video .state-2 video {
	position: absolute;
	z-index: 1;
	top: 0;
	left: 0;
	min-width: 100%;
	min-height: 100%;
	width: 100%;
	height: 100%;
}
@media (min-aspect-ratio: 16/9) {
	.chapters-wrap .chapter section.slide-video .state-2 video {
		width: 100%;
		height: auto;
	}
}
@media (max-aspect-ratio: 16/9) {
	.chapters-wrap .chapter section.slide-video .state-2 video {
		height: 100%;
		width: auto;
	}
}

.chapters-wrap .chapter .show-video { position: absolute; margin-left: -110px; z-index: 3; }

	body.w640 .chapters-wrap .chapter .show-video { top: 45%; left: 55%; width: 160px; }
	body.w1024 .chapters-wrap .chapter .show-video { top: 57.5%; left: 50%; width: 220px; }
	body.w1280 .chapters-wrap .chapter .show-video { top: 60%; left: 50%; width: 200px; }
	body.w1600 .chapters-wrap .chapter .show-video { top: 60%; left: 50%; width: 220px; }
	body.w1920 .chapters-wrap .chapter .show-video { top: 60%; left: 50%; width: 220px; }

.chapters-wrap .chapter section.slide-fullsize {
	position: relative;
}
.chapters-wrap .chapter section.slide-fullsize h1 {
	position: absolute;
	top: 50%;
	left: 0;
	right: 0;
	text-transform: uppercase;
	color: #fff;
	font-family: 'MyriadProBoldCond', sans-serif;
	}

body.w640 .chapters-wrap .chapter section.slide-fullsize h1 { top:40%; }


body.w640 .chapters-wrap .chapter section.slide-fullsize h1		{
	font-size: 40px;
	font-weight: 500;
	text-align: center;
	margin-top: -65px;
	}



.chapters-wrap .chapter section.slide-fullsize .text {
	background-color: rgba(0, 0, 0, 0.7);
	color: #fff;
	position: absolute;
	overflow: hidden;
	z-index: 5;
	font-weight: normal;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-transition-property: left, right, bottom, top;
	-webkit-transition-duration: 0.7s;
	-webkit-transition-timing-function: cubic-bezier(0.19, 0.66, 0.54, 0.86);
	-webkit-transition-delay: 0s;
	-moz-transition-property: left, right, bottom, top;
	-moz-transition-duration: 0.7s;
	-moz-transition-timing-function: cubic-bezier(0.19, 0.66, 0.54, 0.86);
	-moz-transition-delay: 0s;
	-o-transition-property: left, right, bottom, top;
	-o-transition-duration: 0.7s;
	-o-transition-timing-function: cubic-bezier(0.19, 0.66, 0.54, 0.86);
	-o-transition-delay: 0s;
	transition-property: left, right, bottom, top;
	transition-duration: 0.7s;
	transition-timing-function: cubic-bezier(0.19, 0.66, 0.54, 0.86);
	transition-delay: 0s;
	}

/* TEXT RIGHT */

.chapters-wrap .chapter section.slide-fullsize .text.text-right	{
    right: -640px; bottom: 0; height: 100%; width: 640px; padding: 160px 80px 100px;
}
.chapters-wrap .chapter section.slide-fullsize .text.text-right.visible { right: 0 !important; }

/* TEXT BOTTOM */

.chapters-wrap .chapter section.slide-fullsize .text.text-bottom {
    bottom: -220px; left: 0; right: 0; height: 220px; padding: 15px 220px 0 150px;
}

body.w1024 .chapters-wrap .chapter section.slide-fullsize .text.text-bottom {
    padding-left: 140px;
    padding-right: 140px;
    top: 220px;
    height: auto !important;
}
body.w640 .chapters-wrap .chapter section.slide-fullsize .text.text-bottom {
    padding-left: 120px;
    padding-right: 120px;
    top: 120px;
    height: auto !important;
}
.chapters-wrap .chapter section.slide-fullsize .text.text-bottom.visible { bottom: 0 !important; }

/* TEXT LEFT */

.chapters-wrap .chapter section.slide-fullsize .text.text-left {
    bottom: 0; top: 161px; height: 100%; left: -640px; width: 640px; padding: 160px 80px 100px;
}
.chapters-wrap .chapter section.slide-fullsize .text.text-left.visible { left: 0 !important; }


.chapters-wrap .chapter section.slide-fullsize .text .close {
	cursor: pointer;
	position: absolute;
	background-position: center center;
	background-repeat: no-repeat;
    background-image: url("../img/close.png");
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
    width: 82px;
    height: 82px;
    top: 40px;
    right: 40px;
	}

	body.w1280 .chapters-wrap .chapter section.slide-fullsize .text .close,
	body.w1600 .chapters-wrap .chapter section.slide-fullsize .text .close {
        width: 60px;
        height: 60px;
    }
	body.w1024 .chapters-wrap .chapter section.slide-fullsize .text .close {
        width: 50px;
        height: 50px;
        top: 30px;
        right: 30px;
    }
	body.w640 .chapters-wrap .chapter section.slide-fullsize .text .close {
        width: 40px;
        height: 40px;
        top: 20px;
        right: 30px;
    }


/* TEXT SLIDE */

.chapters-wrap .chapter section.slide-fullsize .text.text-right,
.chapters-wrap .chapter section.slide-fullsize .text.text-left {
    top: 160px;
}

body.w1280 .chapters-wrap .chapter section.slide-fullsize .text.text-right,
body.w1280 .chapters-wrap .chapter section.slide-fullsize .text.text-left {
    top: 140px;
}

body.w1024 .chapters-wrap .chapter section.slide-fullsize .text.text-right,
body.w1024 .chapters-wrap .chapter section.slide-fullsize .text.text-left {
    top: 120px;
}
body.w640 .chapters-wrap .chapter section.slide-fullsize .text.text-right,
body.w640 .chapters-wrap .chapter section.slide-fullsize .text.text-left {
    top: 100px;
}

body.w1600 .chapters-wrap .chapter section.slide-fullsize .text.text-left,
body.w1600 .chapters-wrap .chapter section.slide-fullsize .text.text-right { padding-top: 120px; }

body.w1280 .chapters-wrap .chapter section.slide-fullsize .text.text-left,
body.w1280 .chapters-wrap .chapter section.slide-fullsize .text.text-right { padding-top: 100px; }

body.w1024 .chapters-wrap .chapter section.slide-fullsize .text.text-left,
body.w1024 .chapters-wrap .chapter section.slide-fullsize .text.text-right { padding-top: 80px; }

body.w640 .chapters-wrap .chapter section.slide-fullsize .text.text-left,
body.w640 .chapters-wrap .chapter section.slide-fullsize .text.text-right { padding-top: 80px; }

.chapters-wrap .chapter section.slide-fullsize .text h2 {
    font-family: "PT Sans Narrow";
	text-transform: uppercase;
	font-size: 30px;
	font-weight: 700;
}
body.w1600 .chapters-wrap .chapter section.slide-fullsize .text h2 { font-size: 26px; }
body.w1280 .chapters-wrap .chapter section.slide-fullsize .text h2 { font-size: 22px; }
body.w1024 .chapters-wrap .chapter section.slide-fullsize .text h2 { font-size: 20px; }
body.w640 .chapters-wrap .chapter section.slide-fullsize .text h2 { font-size: 18px; }

.chapters-wrap .chapter section.slide-fullsize .text p {
    font-size: 21px;
    line-height: 30px;
    margin: 30px 0;
}
body.w1600 .chapters-wrap .chapter section.slide-fullsize .text p {
    font-size: 18px;
    line-height: 28px;
    margin: 25px 0;
}

body.w1280 .chapters-wrap .chapter section.slide-fullsize .text p {
    font-size: 16px;
    line-height: 26px;
    margin: 20px 0;
}

body.w1024 .chapters-wrap .chapter section.slide-fullsize .text p {
    font-size: 14px;
    line-height: 24px;
    margin: 20px 0;
}

body.w640 .chapters-wrap .chapter section.slide-fullsize .text p {
    font-size: 12px;
    line-height: 22px;
    margin: 15px 0;
}


.chapters-wrap .chapter section.slide-text {
	overflow: hidden;
	color: #000;
	background: white;
}

.chapters-wrap .chapter section.slide-text .text-wrap {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body.w1600 .chapters-wrap .chapter section.slide-text .text-wrap {
    font-size: 21px;
    line-height: 32px;
}

body.w1280 .chapters-wrap .chapter section.slide-text .text-wrap {
    margin-top: 120px;
    font-size: 18px;
    line-height: 28px;
}

.chapters-wrap .chapter section.slide-text .text-wrap h2 {
    font-size: 34px;
    margin: 30px 0;
}

body.w1280 .chapters-wrap .chapter section.slide-text .text-wrap p {
    margin: 20px 0;
}

body.w1280 .chapters-wrap .chapter section.slide-text .text-wrap h2 {
    font-size: 30px;
    margin: 20px 0;
}

body.w1024 .chapters-wrap .chapter section.slide-text .text-wrap {
    margin-top: 120px;
    font-size: 16px;
    padding: 0 30px 40px 30px;
    line-height: 24px;
    width: 100%;
}

body.w640 .chapters-wrap .chapter section.slide-text .text-wrap {
    margin-top: 80px;
    font-size: 14px;
    padding: 0 20px 40px 20px;
    line-height: 21px;
    width: 100%;
}

body.w1024 .chapters-wrap .chapter section.slide-text .text-wrap h2 {
    font-size: 26px;
    margin: 15px 0;
}

body.w640 .chapters-wrap .chapter section.slide-text .text-wrap h2 {
    font-size: 21px;
    margin: 15px 0;
}

body.w1024 .chapters-wrap .chapter section.slide-text .text-wrap p {
    margin: 15px 0;
}

body.w640 .chapters-wrap .chapter section.slide-text .text-wrap p {
    margin: 15px 0;
}


.chapters-wrap .chapter section.slide-text .text-wrap {
    width: 960px;
    margin: 160px auto 0;
    font-size: 24px;
    padding: 0 0 40px 90px;
    line-height: 38px;
}

body.w1600 .chapters-wrap .chapter section.slide-text .text-wrap p .banner {
    width: 200px;
    left: -230px;
}

body.w1280 .chapters-wrap .chapter section.slide-text .text-wrap p .banner {
    width: 140px;
    left: -165px;
    top: 5px !important;
}

@media all and (max-width: 1150px) {
    .chapters-wrap .chapter section.slide-text .text-wrap p .banner {
        display: none;
    }
}

body.w1024 .chapters-wrap .chapter section.slide-text .text-wrap p .banner,
body.w640 .chapters-wrap .chapter section.slide-text .text-wrap p .banner {
    display: none;
}



.chapters-wrap .chapter section.slide-text .text-wrap .info 
{ color: #606060; font-style: italic; float: right; text-align: left; margin: 0; }

.chapters-wrap .chapter section.slide-text .text-wrap p { margin: 30px 0; }

	.chapters-wrap .chapter section.slide-text .text-wrap p { margin: 30px 0; }


.chapters-wrap .chapter section.slide-text .text-wrap p.quote {
	font-size: 28px;
	line-height: 40px;
	color: #999;
	margin: 45px 0 45px -62px !important;
	padding-left: 30px;
	border-left: 2px solid #e5e5e5;
}
body.w1600 .chapters-wrap .chapter section.slide-text .text-wrap p.quote {
    font-size: 24px;
    line-height: 36px;
    margin-top: 35px !important;
    margin-bottom: 35px !important;
}
body.w1280 .chapters-wrap .chapter section.slide-text .text-wrap p.quote {
    font-size: 21px;
    line-height: 30px;
    margin-top: 30px !important;
    margin-bottom: 30px !important;
}
body.w1024 .chapters-wrap .chapter section.slide-text .text-wrap p.quote {
    margin-left: 0 !important;
    font-size: 18px;
    line-height: 26px;
    margin-top: 25px !important;
    margin-bottom: 25px !important;
    padding-left: 20px;
}
body.w640 .chapters-wrap .chapter section.slide-text .text-wrap p.quote {
    margin-left: 0 !important;
    font-size: 16px;
    line-height: 21px;
    margin-top: 15px !important;
    margin-bottom: 15px !important;
    padding-left: 20px;
}

.chapters-wrap .chapter section.slide-text .text-wrap p { position: relative; }
.chapters-wrap .chapter section.slide-text .text-wrap p .banner {
	width: 280px;
	position: absolute;
	left: -330px;
	top: 10px;
	}



.chapters-wrap .chapter section.slide-gallery {
    overflow: hidden;
    color: #000;
    background-color: #fff;
}
.chapters-wrap .chapter section.slide-gallery .gallery {
    width: 960px;
    margin: 120px auto 0;
    position: relative;
    z-index: 5;
}
.chapters-wrap .chapter section.slide-gallery .gallery .prev-images img {
    cursor: pointer;
    opacity: 0.5;
    margin-right: 3px;
    -webkit-transition-property: all;
    -webkit-transition-duration: 0.2s;
    -webkit-transition-timing-function: linear;
    -webkit-transition-delay: 0s;
    -moz-transition-property: all;
    -moz-transition-duration: 0.2s;
    -moz-transition-timing-function: linear;
    -moz-transition-delay: 0s;
    -o-transition-property: all;
    -o-transition-duration: 0.2s;
    -o-transition-timing-function: linear;
    -o-transition-delay: 0s;
    transition-property: all;
    transition-duration: 0.2s;
    transition-timing-function: linear;
    transition-delay: 0s;
}
.chapters-wrap .chapter section.slide-gallery .gallery .prev-images img.active,
.chapters-wrap .chapter section.slide-gallery .gallery .prev-images img:hover {
    opacity: 1;
}
.chapters-wrap .chapter section.slide-gallery .gallery .big-image {
    text-align: center;
    margin: 7px 0 0 0;
    position: relative;
    width: 960px;
    height: 640px;
    overflow: hidden;
}
.chapters-wrap .chapter section.slide-gallery .gallery .big-image .images-wrap img {
    display: none;
    max-width: 100%;
    max-height: 100%;
}
.chapters-wrap .chapter section.slide-gallery .gallery .big-image .images-wrap img:first-child {
    display: inline-block;
}
.chapters-wrap .chapter section.slide-gallery .gallery .big-image .controls .prev-image,
.chapters-wrap .chapter section.slide-gallery .gallery .big-image .controls .next-image {
    position: absolute;
    bottom: 0;
    cursor: pointer;
    background-repeat: no-repeat;
    opacity: 1;
    -webkit-transition-property: all;
    -webkit-transition-duration: 0.25s;
    -webkit-transition-timing-function: ease;
    -webkit-transition-delay: 0s;
    -moz-transition-property: all;
    -moz-transition-duration: 0.25s;
    -moz-transition-timing-function: ease;
    -moz-transition-delay: 0s;
    -o-transition-property: all;
    -o-transition-duration: 0.25s;
    -o-transition-timing-function: ease;
    -o-transition-delay: 0s;
    transition-property: all;
    transition-duration: 0.25s;
    transition-timing-function: ease;
    transition-delay: 0s;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.chapters-wrap .chapter section.slide-gallery .gallery .big-image .controls .prev-image {
    left: 0;
    top: 0;
    right: 50%;
    background-position: right 750px;
    background-image: url("../img/prev-image.png");
}
.chapters-wrap .chapter section.slide-gallery .gallery .big-image .controls .prev-image:hover {
    background-position: right bottom;
}
.chapters-wrap .chapter section.slide-gallery .gallery .big-image .controls .next-image {
    left: 50%;
    top: 0;
    right: 0;
    background-position: left 750px;
    background-image: url("../img/next-image.png");
}
.chapters-wrap .chapter section.slide-gallery .gallery .big-image .controls .next-image:hover {
    background-position: left bottom;
}
.chapters-wrap .chapter section.slide-gallery .gallery .big-image .controls.hidden .prev-image,
.chapters-wrap .chapter section.slide-gallery .gallery .big-image .controls.hidden .next-image {
    opacity: 0;
    bottom: -110px;
}
.chapters-wrap .chapter section.slide-gallery .gallery .descriptions .description {
    font-size: 21px;
    line-height: 26px;
    font-family: "PT Sans";
    margin: 20px 0;
    display: none;
}
.chapters-wrap .chapter section.slide-gallery .gallery .descriptions .description:first-child {
    display: block;
}


body.w1600 .chapters-wrap .chapter section.slide-gallery .gallery {
    margin-left: 40px;
    margin-right: 40px;
    width: 100%;
}
body.w1600 .chapters-wrap .chapter section.slide-gallery .gallery .descriptions {
    display: table-cell;
    vertical-align: top;
    width: 360px;
}
@media all and (max-width: 1400px) {
    body.w1600 .chapters-wrap .chapter section.slide-gallery .gallery .descriptions {
        width: 250px;
    }
    body.w1600 .chapters-wrap .chapter section.slide-gallery .gallery .descriptions .description {
        font-size: 18px;
    }
}
body.w1600 .chapters-wrap .chapter section.slide-gallery .gallery .descriptions .description {
    margin: 0 20px;
    width: 100%;
}
body.w1600 .chapters-wrap .chapter section.slide-gallery .gallery .big-image .images-wrap {
    height: 640px;
}
body.w1600 .chapters-wrap .chapter section.slide-gallery .gallery .big-image {
    display: table-cell;
    vertical-align: top;
}
body.w1280 .chapters-wrap .chapter section.slide-gallery .gallery .descriptions {
    display: table-cell;
    vertical-align: top;
    width: 360px;
}
body.w1280 .chapters-wrap .chapter section.slide-gallery .gallery .descriptions .description {
    margin: 0 20px;
    width: 100%;
}
body.w1280 .chapters-wrap .chapter section.slide-gallery .gallery .big-image {
    width: 768px;
    height: 512px;
}
body.w1280 .chapters-wrap .chapter section.slide-gallery .gallery .big-image .images-wrap {
    height: 512px;
}
body.w1280 .chapters-wrap .chapter section.slide-gallery .gallery {
    width: 100%;
    margin-left: 30px;
    margin-right: 30px;
}
body.w1280 .chapters-wrap .chapter section.slide-gallery .gallery .big-image {
    display: table-cell;
    vertical-align: top;
}
@media all and (max-width: 1200px) {
    body.w1280 .chapters-wrap .chapter section.slide-gallery .gallery .descriptions {
        width: 250px;
    }
    body.w1280 .chapters-wrap .chapter section.slide-gallery .gallery .descriptions .description {
        font-size: 18px;
    }
}
@media all and (max-width: 1100px) {
    body.w1280 .chapters-wrap .chapter section.slide-gallery .gallery .descriptions {
        width: 150px;
    }
    body.w1280 .chapters-wrap .chapter section.slide-gallery .gallery .descriptions .description {
        font-size: 16px;
        line-height: 21px;
    }
}
body.w640 .chapters-wrap .chapter section.slide-gallery .gallery {
    margin-top: 80px;
}
body.w640 .chapters-wrap .chapter section.slide-gallery .gallery .descriptions .description,
body.w1024 .chapters-wrap .chapter section.slide-gallery .gallery .descriptions .description {
    font-size: 16px;
    line-height: 21px;
    margin: 10px 0;
}
body.w640 .chapters-wrap .chapter section.slide-gallery .gallery .prev-images,
body.w1024 .chapters-wrap .chapter section.slide-gallery .gallery .prev-images {
    height: 47px;
}
body.w640 .chapters-wrap .chapter section.slide-gallery .gallery .prev-images img,
body.w1024 .chapters-wrap .chapter section.slide-gallery .gallery .prev-images img {
    width: 75px;
}
body.w640 .chapters-wrap .chapter section.slide-gallery .gallery .big-image,
body.w1024 .chapters-wrap .chapter section.slide-gallery .gallery .big-image {
    width: 640px;
    height: 427px;
}
body.w640 .chapters-wrap .chapter section.slide-gallery .gallery .big-image .images-wrap,
body.w1024 .chapters-wrap .chapter section.slide-gallery .gallery .big-image .images-wrap {
    height: 427px;
}
body.w640 .chapters-wrap .chapter section.slide-gallery .gallery,
body.w1024 .chapters-wrap .chapter section.slide-gallery .gallery {
    width: 640px;
}




.tip {
    position: absolute;
    left: 0;
    top: 0;
    cursor: pointer;
    background-repeat: no-repeat;
    background-position: center center;
    background-image: url("../img/tip_black.png");
    width: 37px;
    height: 37px;
}
.tip.tip-white {
    background-image: url("../img/tip_white.png");
}

footer {
	position: fixed;
	right: 0;
	left: 0;
	bottom: 0;
	z-index: 250;
	background: #000;
	height: 40px;
	overflow: hidden;
	opacity: 1;
	-webkit-transition-property: all;
	-webkit-transition-duration: 0.25s;
	-webkit-transition-timing-function: linear;
	-moz-transition-property: all;
	-moz-transition-duration: 0.25s;
	-moz-transition-timing-function: linear;
	-o-transition-property: all;
	-o-transition-duration: 0.25s;
	-o-transition-timing-function: linear;
	transition-property: all;
	transition-duration: 0.25s;
	transition-timing-function: linear;
}
footer.hidden {
	opacity: 0;
}
footer.transparent {
	background: transparent;
}
footer.transparent nav { opacity: 0; }


footer.transparent .full-screen { background-color: transparent; }
footer .btn {
	cursor: pointer;
	float: left;
	text-transform: uppercase;
	font-family: 'MyriadProBoldCond', sans-serif;
	font-weight: 500;
	font-size: 18px;
	line-height: 40px;
	height: 40px;
	vertical-align: middle;
	padding: 0 10px;
	background-position: 10px center;
	background-repeat: no-repeat;
	position: relative;
	z-index: 25;
	-webkit-transition-property: all;
	-webkit-transition-duration: 0.25s;
	-webkit-transition-timing-function: linear;
	-moz-transition-property: all;
	-moz-transition-duration: 0.25s;
	-moz-transition-timing-function: linear;
	-o-transition-property: all;
	-o-transition-duration: 0.25s;
	-o-transition-timing-function: linear;
	transition-property: all;
	transition-duration: 0.25s;
	transition-timing-function: linear;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
footer .btn:hover,
footer .btn.active {
	color: #000;
	background-color: #fff;
}
footer .btn.hidden {
	display: none;
}
footer .btn.btn-table-of-contents {
	background-image: url("../img/btn-table-of-contents.png");
	padding-left: 42px;
}
footer .btn.btn-table-of-contents:hover,
footer .btn.btn-table-of-contents.active {
	background-image: url("../img/btn-table-of-contents-a.png");
}
footer nav {
	text-align: center;
	cursor: default;
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	top: 0;
}

	body.w640  footer nav { display: none !important;  right: -220px; }
	body.w1024 footer nav { display: none !important; }

footer nav .prev-screen,
footer nav .next-screen {
	cursor: pointer;
	display: inline-block;
	background-repeat: no-repeat;
	background-position: center center;
	height: 40px;
	width: 30px;
	vertical-align: top;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
footer nav .prev-screen {
	background-image: url("../img/btn-prev-screen.png");
}
footer nav .next-screen {
	background-image: url("../img/btn-next-screen.png");
}
footer nav ul {
	display: inline-block;
	vertical-align: top;
	margin: 0 7px;
}
footer nav ul li {
	font-family: 'MyriadProBoldCond', sans-serif;
	font-weight: 500;
	font-size: 22px;
	line-height: 40px;
	height: 40px;
	vertical-align: middle;
	color: #797979;
	cursor: pointer;
	display: inline-block;
	padding: 0 8px;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-webkit-transition-property: all;
	-webkit-transition-duration: 0.2s;
	-webkit-transition-timing-function: linear;
	-webkit-transition-delay: 0s;
	-moz-transition-property: all;
	-moz-transition-duration: 0.2s;
	-moz-transition-timing-function: linear;
	-moz-transition-delay: 0s;
	-o-transition-property: all;
	-o-transition-duration: 0.2s;
	-o-transition-timing-function: linear;
	-o-transition-delay: 0s;
	transition-property: all;
	transition-duration: 0.2s;
	transition-timing-function: linear;
	transition-delay: 0s;
}
footer nav ul li.active,
footer nav ul li:hover {
	color: #fff;
}
footer .full-screen,
footer .sound {
	float: right;
	background-repeat: no-repeat;
	background-image: url("../img/sound.png");
	cursor: pointer;
	height: 40px;
	width: 40px;
	position: relative;
	z-index: 25;
}
footer .full-screen {
	background-image: url("../img/btn-fullscreen.png");
	background-position: center center;
	-webkit-transition-property: all;
	-webkit-transition-duration: 0.15s;
	-webkit-transition-timing-function: linear;
	-moz-transition-property: all;
	-moz-transition-duration: 0.15s;
	-moz-transition-timing-function: linear;
	-o-transition-property: all;
	-o-transition-duration: 0.15s;
	-o-transition-timing-function: linear;
	transition-property: all;
	transition-duration: 0.15s;
	transition-timing-function: linear;
}
footer .full-screen:hover {
	background-color: rgba(225, 225, 225, 0.3);
}
footer .sound {
	display: none;
	background-position: center 11px;
}
footer .sound.muted {
	background-position: center -31px;
}

body.w1600 #jpreSlide { top: 30% !important; }
body.w1280 #jpreSlide { top: 22.5% !important; }
body.w1024 #jpreSlide { top: 35% !important; }
body.w1024 #jpreSlide .sub {  font-size: 32px; }
body.w640 #jpreSlide .sub {  margin-top: 25px; }
body.w1024 #jpreSlide .hot-keys { display: none; }
body.w640 #jpreSlide .hot-keys { display: none; }

.slide-gold-trail .film-link {
  top: 60%;
  left: 50%;
  width: 330px;
  position: absolute;
  margin-left: -165px;
  z-index: 3;
}

body.w1024 .slide-gold-trail .film-link,
body.w1280 .slide-gold-trail .film-link,
body.w1600 .slide-gold-trail .film-link {
  width: 300px;
  margin-left: -150px;
}

body.w640 .slide-gold-trail .film-link {
  width: 250px;
  margin-left: -125px;
}
