.tips {
    position: absolute;
    width: 37px;
    height: 37px;
    background-repeat: no-repeat;
    cursor: pointer;
}

.tips.hidden {
    display: none;
}

.tip-black {
    background-image: url('/img/tip_black.png');
}

.tip-white {
    background-image: url('/img/tip_white.png');
}

.heart-s2-t1 {
    top: 219px;
    left: 932px;
}
