video#bgvid {
	position: absolute;
	top: 0;
	left: 0;
	min-width: 100%; 
        min-height: 100%;
        width: auto; height: auto; 
        background: url(../video/screens/02-HELICOPTER.png) no-repeat;
        background-size: cover;
}
#video-controls {
    position: absolute;
    top: 85%;
    left: 50%;
    margin-left: -180px;
}

/* 1. No object-fit support: */
@media (min-aspect-ratio: 16/9) {
video#bgvid { height: 300%; top: -100%; }
}
@media (max-aspect-ratio: 16/9) {
video#bgvid { width: 300%; left: -100%; }
}
/* 2. If supporting object-fit, overriding (1): */
@supports (object-fit:cover) {
video#bgvid {
top: 0; left: 0;
width: 100%; height: 100%;
object-fit: cover;
}
}