.h {display: none !important;}

.chapter .section-1 {  }

	@media all and (max-width: 640px) 							{ .chapter-1 .section-1 { background: url("01/01.640.jpg"); }	} /* 1 */
		
	@media all and (min-width: 641px) and (max-width: 980px)	{ .chapter-1 .section-1 { background: url("01/01.1024.jpg"); }	} /* 2 */
	
	@media all and (min-width: 981px) and (max-width: 1280px)	{ .chapter-1 .section-1 { background: url("01/01.1280.jpg"); }	} /* 3 */
	
	@media all and (min-width: 1281px) and (max-width: 1600px)	{ .chapter-1 .section-1 { background: url("01/01.1600.jpg"); }	} /* 4 */
	
	@media all and (min-width: 1601px) and (max-width: 1920px)	{ .chapter-1 .section-1 { background: url("01/01.1920.jpg"); }	} /* 5 */
	
	@media all and (min-width: 1921px)							{ .chapter-1 .section-1 { background: url("01/01.1920.jpg"); }	} /* 5+ */


.chapter .section-2 {  }

	@media all and (max-width: 640px) 							{ .chapter-1 .section-2 { background: url("01/02.640.jpg"); }	} /* 1 */
		
	@media all and (min-width: 641px) and (max-width: 980px)	{ .chapter-1 .section-2 { background: url("01/02.1024.jpg"); }	} /* 2 */
	
	@media all and (min-width: 981px) and (max-width: 1280px)	{ .chapter-1 .section-2 { background: url("01/02.1280.jpg"); }	} /* 3 */
	
	@media all and (min-width: 1281px) and (max-width: 1600px)	{ .chapter-1 .section-2 { background: url("01/02.1600.jpg"); }	} /* 4 */
	
	@media all and (min-width: 1601px) and (max-width: 1920px)	{ .chapter-1 .section-2 { background: url("01/02.1920.jpg"); }	} /* 5 */
	
	@media all and (min-width: 1921px)							{ .chapter-1 .section-2 { background: url("01/02.1920.jpg"); }	} /* 5+ */


    .chapter-1 .section-2 { background: url("01/03.jpg"); }

    .chapter-1 .section-3 { background: url("01/04.jpg"); }

    .chapter-1 .section-4 { background: url("01/05.jpg"); }
	    

	/* Глава 2 */

    .chapter-2 .section-1 { background: url("02/01.jpg"); }

    .chapter-2 .section-2 { background: url("02/02.jpg"); }

    .chapter-2 .section-3 { background: url("02/06.jpg"); }

    .chapter-2 .section-7 { background: url("02/07.jpg"); }

    .chapter-2 .section-8 { background: url("02/09.jpg"); }

    .chapter-2 .section-9 { background: url("02/10.jpg"); }


    /* chapter 3 */

    .chapter-3 .section-1 { background: url("03/01.jpg"); }

    .chapter-3 .section-2 { background: url("03/02.jpg"); }

    .chapter-3 .section-3 { background: url("03/03.jpg"); }

    .chapter-3 .section-4 { background: url("03/04.jpg"); }

    .chapter-3 .section-5 { background: url("03/05.jpg"); }

    .chapter-3 .section-6 { background: url("03/06.jpg"); }

    .chapter-3 .section-7 { background: url("03/07.jpg"); }

    .chapter-3 .section-8 { background: url("03/08.jpg"); }

    .chapter-3 .section-9 { background: url("03/09.jpg"); }

    .chapter-3 .section-10 { background: url("03/10.jpg"); }

    .chapter-3 .section-11 { background: url("03/11.jpg"); }


	/* Глава 4 */

    .chapter-4 .section-1 { background: url("04/01.jpg"); }

    .chapter-4 .section-2 { background: url("04/02.jpg"); }

    .chapter-4 .section-3 { background: url("04/03.jpg"); }
    
    .chapter-4 .section-4 { } /* text */

    .chapter-4 .section-5 { } /* text */

    .chapter-4 .section-6 { background: url("04/05.jpg"); }
    
    .chapter-4 .section-7 { background: url("04/06.jpg"); }
    
    .chapter-4 .section-8 { } /* text */
    
    .chapter-4 .section-9 { } /* gallery */
    
    /* Глава 5 */

    .chapter-5 .section-1 { background: url("05/01.jpg"); }

    .chapter-5 .section-2 { background: url("05/02.jpg"); }

    .chapter-5 .section-3 { background: url("05/03.jpg"); }

    .chapter-5 .section-4 { background: url("05/04.jpg"); }

    .chapter-5 .section-8 { background: url("05/07.jpg"); }

    .chapter-5 .section-9 { background: url("05/08.jpg"); }

    .chapter-5 .section-10 { background: url("05/09.jpg"); }

    /* Глава 6 */

    .chapter-6 .section-1 { background: url("06/01.jpg"); }

    .chapter-6 .section-2 { background: url("06/02.jpg"); }

    .chapter-6 .section-3 { background: url("06/04.jpg"); }

    .chapter-6 .section-4 { background: url("06/07.jpg"); }


    /* Глава 7 */

    .chapter-7 .section-1 { background: url("07/01.jpg"); }

    .chapter-7 .section-2 { background: url("07/02.jpg"); }

    .chapter-7 .section-3 { background: url("07/03.jpg"); }

    .chapter-7 .section-6 { background: url("07/05.jpg"); }

    .chapter-7 .section-7 { background: url("07/06.jpg"); }

    .chapter-7 .section-8 { background: url("07/07.jpg"); }

    /* Глава 8 */

    .chapter-8 .section-1 { background: url("08/01.jpg"); }

    .chapter-8 .section-2 { background: url("08/02.jpg"); }

    .chapter-8 .section-3 { background: url("08/03.jpg"); }

    .chapter-8 .section-6 { background: url("08/05.jpg"); }

    .chapter-8 .section-10 { background: url("08/07.jpg"); }

    /* Глава 9 */

    .chapter-9 .section-1 { background: url("09/01.jpg"); }

    .chapter-9 .section-2 { background: url("09/02.jpg"); }

    .chapter-9 .section-3 { background: url("09/03.jpg"); }

    .chapter-9 .section-4 { background: url("09/04.jpg"); }

    .chapter-9 .section-8 { background: url("09/06.jpg"); }

    .chapter-9 .section-9 { background: url("09/07.jpg"); }

    .chapter-9 .section-10 { background: url("09/08.jpg"); }

    .chapter-9 .section-11 { background: url("09/09.jpg"); }

    /* Глава 10 */

    .chapter-10 .section-1 { background: url("10/01.jpg"); }

    .chapter-10 .section-2 { background: url("10/02.jpg"); }

    .chapter-10 .section-7 { background: url("10/07.jpg"); }

	
	/* Глава Золотой Путь */
	
	.slide-gold-trail { background: url("gold-trail.jpg"); }

/*

@media all and (min-width: 1280px) and (max-width: 1440px) {

}

@media all and (min-width: 960px) and (max-width: 1280px) {

}

@media all and (min-width: 480px) and (max-width: 960px) {


}

@media all and (max-width: 480px) {

}
*/